.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: clamp(300px, 90vw, 1200px);
  height: 75px;
  margin: 0 auto;
}

.icon {
  height: clamp(50px, 6vw, 70px);
}

.icon .logo {
  color: #ff7200;
  font-size: clamp(15px, 3vw, 35px);
  font-family: Arial;
  padding-left: 20px;
  padding-top: 10px;
  margin: 5px 0 0 5px;
}

.menu {
  display: flex;
  margin-left: clamp(3px, 5vw, 40px);
  height: 70px;
}

.menu ul {
  display: flex;
}

.menu ul li {
  list-style: none;
  margin-left: clamp(10px, 5vw, 62px);
  margin-top: 27px;
  font-size: clamp(12px, 1.2vw, 20px);
}

.menu ul li a {
  text-decoration: none;
  color: #fff;
  font-family: Arial;
  font-weight: bold;
  transition: 0.3s ease;
}