.main {
  display: flex;
  flex-direction: column;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: clamp(300px, 90vw, 1200px);
  height: 75px;
  margin: 0 auto;
}

.icon {
  height: clamp(50px, 6vw, 70px);
}

.icon .logo {
  color: #ff7200;
  font-size: clamp(15px, 3vw, 35px);
  font-family: Arial;
  padding-left: 20px;
  padding-top: 10px;
  margin: 5px 0 0 5px;
}

.menu {
  display: flex;
  margin-left: clamp(3px, 5vw, 40px);
  height: 70px;
}

.menu ul {
  display: flex;
}

.menu ul li {
  list-style: none;
  margin-left: clamp(10px, 5vw, 62px);
  margin-top: 27px;
  font-size: clamp(12px, 1.2vw, 20px);
}

.menu ul li a {
  text-decoration: none;
  color: #fff;
  font-family: Arial;
  font-weight: bold;
  transition: 0.3s ease;
}

.menu ul li a:hover {
  color: #ff7200;
  border-bottom: 2px solid #ff7200;
}

.menu ul li a:active {
  color: #8f4407;
  border-bottom: 2px solid #8f4407;

}

.content {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-start;
  gap: 2rem;
  width: clamp(300px, 90vw, 1200px);
  margin: auto;
  margin-top: 15vh;
  color: #fff;
  position: relative;
}

.content h2 {
  font-family: 'Times New Roman';
  font-size: clamp(24px, 4vw, 40px);
  padding-left: 20px;
  margin-top: 9%;
  letter-spacing: 2px;
  width: 55vw;
}

.content span {
  color: #ff7200;
  font-size: clamp(30px, 5vw, 55px);
}

.content .par {
  padding-left: 20px;
  padding-bottom: 25px;
  font-family: Arial;
  letter-spacing: 1.2px;
  line-height: 1.8em;
  font-size: clamp(14px, 1.3vw, 16px);
  width: 50vw;
}

.form {
  display: flex;
  flex-direction: column;
  width: clamp(250px, 90vw, 340px);
  height: auto;
  background: linear-gradient(to bottom, rgba(0,0,0,0.8) 50%, rgba(12, 12, 12, 0.8) 70%);
  position: absolute;
  top: 20px;
  right: clamp(10px, 4vw, 800px);
  transform: none;
  position: static;
  align-self: flex-start;
  border-radius: 10px;
  padding: 25px;
  margin: 5rem auto;
}

.form h2 {  
  width: clamp(180px, 60%, 390px);
  font-family: sans-serif;
  text-align: center;
  color: #ff7200;
  font-size: clamp(17px, 2.2vw, 21px);
  background-color: #fff;
  border-radius: 10px;
  margin: 2px auto;
  padding: 8px;
}

.form input {
  width: 100%;
  height: 35px;
  background: transparent;
  border: none;
  border-bottom: 1px solid #ff7200;
  color: #fff;
  font-size: clamp(14px, 1.2vw, 15px);
  letter-spacing: 1px;
  margin-top: 30px;
  font-family: sans-serif;
}

.form input:focus {
  outline: none;
}

::placeholder {
  color: #fff;
  font-family: Arial;
}

.btn {
  width: 100%;
  height: 40px;
  background: #ff7200;
  border: none;
  margin-top: 30px;
  font-size: clamp(17px, 1.5vw, 35px);
  border-radius: 10px;
  cursor: pointer;
  color: #fff;
  transition: 0.4s ease;
}